app/flows/flow.json
[{"id":"66fa9c9a.861bc4","type":"tab","label":"System Stats","disabled":false,"info":""},{"id":"7cdf20ae.bad788","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e33c6820.04ee48","type":"ui_group","name":"Timeline","tab":"88c78cd7.1e2bb","order":1,"disp":true,"width":"12","collapse":false},{"id":"a8eca4.2530a36","type":"ui_group","name":"Pie charts","tab":"88c78cd7.1e2bb","order":2,"disp":true,"width":"9","collapse":false},{"id":"88c78cd7.1e2bb","type":"ui_tab","name":"Device Stats","icon":"dashboard","order":2},{"id":"fee98c91.8a287","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ba0e3c44.f19278","type":"mqtt-broker","name":"mqtt_hivemq","broker":"","port":"8883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"257f1e61.6d014a","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3da72db3.608302","type":"mqtt-broker","name":"testingwash","broker":"washed@broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d1abcc53.bec16","type":"ui_tab","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d6aecfd1.37d33","type":"ui_tab","name":"Automatic Water System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"66f98ca5.1417cc","type":"ui_spacer","name":"spacer","group":"d10f0028.8f26c","order":4,"width":1,"height":1},{"id":"6f8252f7.5f3a6c","type":"ui_spacer","name":"spacer","group":"d10f0028.8f26c","order":4,"width":1,"height":1},{"id":"4ffd3568.294af4","type":"ui_group","name":"Group 5","tab":"d6aecfd1.37d33","order":5,"disp":false,"width":"30","collapse":false},{"id":"42a4bd71.1190cc","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"b526a871.193058","order":2,"width":1,"height":1},{"id":"20872131.6cc17e","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"4ffd3568.294af4","order":4,"width":1,"height":1},{"id":"e29c5db7.87df6","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"4ffd3568.294af4","order":6,"width":1,"height":1},{"id":"5a6296eb.96787","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"4ffd3568.294af4","order":7,"width":1,"height":1},{"id":"51c4d846.bc95e","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"4ffd3568.294af4","order":9,"width":1,"height":1},{"id":"4983d162.d6fe3","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"4ffd3568.294af4","order":10,"width":4,"height":1},{"id":"18967243.9797a6","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"4ffd3568.294af4","order":11,"width":4,"height":1},{"id":"ff0500c5.4d6278","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"4ffd3568.294af4","order":12,"width":5,"height":1},{"id":"c6fdd9dc.3953","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"4ffd3568.294af4","order":15,"width":4,"height":1},{"id":"69fb3437.3001b4","type":"ui_spacer","z":"66fa9c9a.861bc4","name":"spacer","group":"4ffd3568.294af4","order":16,"width":5,"height":1},{"id":"f0403458.234b98","type":"inject","z":"66fa9c9a.861bc4","name":"every 1 second","repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":320,"wires":[["17e62aee.688135"]]},{"id":"17e62aee.688135","type":"DeviceStats","z":"66fa9c9a.861bc4","name":"","mem":true,"nw":false,"load":true,"hostname":false,"useString":false,"x":310,"y":320,"wires":[["8d5b38a0.1d8828","6c393974.aeeee8","372623ad.517fac","eb1c6360.1b8c1","9fbd1e87.6ea3b","7730e407.ac163c","813a4d54.e65d"]]},{"id":"bce8c6b6.e06ed8","type":"debug","z":"66fa9c9a.861bc4","name":"mem.free","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":160,"wires":[]},{"id":"647e459f.7d7a8c","type":"debug","z":"66fa9c9a.861bc4","name":"mem.used","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":200,"wires":[]},{"id":"a2cf2ef5.10b3e","type":"debug","z":"66fa9c9a.861bc4","name":"1min os.loadavg()","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":300,"wires":[]},{"id":"99e1d6bf.07db68","type":"debug","z":"66fa9c9a.861bc4","name":"15min os.loadavg()","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":380,"wires":[]},{"id":"5b6ffec1.26c67","type":"debug","z":"66fa9c9a.861bc4","name":"5min os.loadavg()","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":340,"wires":[]},{"id":"8d5b38a0.1d8828","type":"change","z":"66fa9c9a.861bc4","name":"1min os.loadavg()","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.load[0]*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[["a2cf2ef5.10b3e"]]},{"id":"6c393974.aeeee8","type":"change","z":"66fa9c9a.861bc4","name":"5min os.loadavg()","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.load[1]*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":340,"wires":[["5b6ffec1.26c67"]]},{"id":"372623ad.517fac","type":"change","z":"66fa9c9a.861bc4","name":"15min os.loadavg()","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.load[2]*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["99e1d6bf.07db68"]]},{"id":"eb1c6360.1b8c1","type":"change","z":"66fa9c9a.861bc4","name":"% free mem","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mem.free/2366448*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[["bce8c6b6.e06ed8"]]},{"id":"9fbd1e87.6ea3b","type":"change","z":"66fa9c9a.861bc4","name":"% used mem","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.mem.used/2366448*100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":200,"wires":[["647e459f.7d7a8c"]]},{"id":"7730e407.ac163c","type":"function","z":"66fa9c9a.861bc4","name":"MultiChart LOAD","func":"var msg1 = {};  // 1 minutes load average\nvar msg5 = {};  // 5 minutes load average\nvar msg15 = {};  // 15 minutes load average\n\nmsg1.topic = '1 min';\nmsg1.payload = msg.payload.load[0]*100;\n\nmsg5.topic = '5 min';\nmsg5.payload = msg.payload.load[1]*100;\n\nmsg15.topic = '15 min';\nmsg15.payload = msg.payload.load[2]*100;\n\nreturn [msg1,msg5,msg15];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":500,"wires":[["5c39776a.0db9e8","bbdde610.848918"],["5c39776a.0db9e8"],["5c39776a.0db9e8"]]},{"id":"5c39776a.0db9e8","type":"ui_chart","z":"66fa9c9a.861bc4","name":"","group":"e33c6820.04ee48","order":2,"width":0,"height":0,"label":"Avg load %","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"400","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":500,"wires":[[]]},{"id":"813a4d54.e65d","type":"function","z":"66fa9c9a.861bc4","name":"MultiChart MEM","func":"var msg1 = {};  // Free RAM\nvar msg2 = {};  // Used RAM\n\nmsg1.topic = 'FREE mem';\nmsg1.payload = msg.payload.mem.free/2366448*100;\n\nmsg2.topic = 'USED mem';\nmsg2.payload = msg.payload.mem.used/2366448*100;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["d6b08817.910888","654d0466.2a889c"],["d6b08817.910888","654d0466.2a889c"]]},{"id":"d6b08817.910888","type":"ui_chart","z":"66fa9c9a.861bc4","name":"","group":"a8eca4.2530a36","order":1,"width":0,"height":0,"label":"RAM pie","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":800,"y":100,"wires":[[]]},{"id":"654d0466.2a889c","type":"ui_chart","z":"66fa9c9a.861bc4","name":"","group":"e33c6820.04ee48","order":1,"width":0,"height":0,"label":"RAM %","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":800,"y":60,"wires":[[]]},{"id":"bbdde610.848918","type":"ui_gauge","z":"66fa9c9a.861bc4","name":"1 min. average","group":"a8eca4.2530a36","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"Load % (1 min.)","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":820,"y":540,"wires":[]},{"id":"181d79c0.4c92d6","type":"mqtt in","z":"66fa9c9a.861bc4","name":"humidity","topic":"sensor_data/humidity","qos":"2","datatype":"auto","broker":"3da72db3.608302","x":90,"y":680,"wires":[["a638a3f4.a90b68","17839534.5d4e5b"]]},{"id":"a638a3f4.a90b68","type":"debug","z":"66fa9c9a.861bc4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":300,"y":600,"wires":[]},{"id":"17839534.5d4e5b","type":"ui_gauge","z":"66fa9c9a.861bc4","name":"","group":"4ffd3568.294af4","order":3,"width":5,"height":4,"gtype":"donut","title":"Humidity","label":"Humidity","format":"{{msg.payload}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":600,"y":680,"wires":[]},{"id":"c867f8d0.c9fa8","type":"debug","z":"66fa9c9a.861bc4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":300,"y":740,"wires":[]},{"id":"a40d07d5.7c89b","type":"mqtt in","z":"66fa9c9a.861bc4","name":"temperature","topic":"sensor_data/temp","qos":"2","datatype":"auto","broker":"3da72db3.608302","x":100,"y":820,"wires":[["c867f8d0.c9fa8","71cc86d6.95af98"]]},{"id":"71cc86d6.95af98","type":"ui_gauge","z":"66fa9c9a.861bc4","name":"","group":"4ffd3568.294af4","order":14,"width":5,"height":4,"gtype":"gage","title":"Temperature","label":"Temperature","format":"{{msg.payload}}°C","min":"-50","max":"50","colors":["#99c1f1","#ffa348","#ca3838"],"seg1":"1","seg2":"15","diff":false,"className":"","x":610,"y":820,"wires":[]},{"id":"7e08913a.949aa8","type":"debug","z":"66fa9c9a.861bc4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":300,"y":880,"wires":[]},{"id":"73c496f4.b7f67","type":"mqtt in","z":"66fa9c9a.861bc4","name":"soil","topic":"sensor_data/soil","qos":"2","datatype":"auto","broker":"3da72db3.608302","x":80,"y":960,"wires":[["7e08913a.949aa8","c3aca91c.219ec8"]]},{"id":"c3aca91c.219ec8","type":"ui_chart","z":"66fa9c9a.861bc4","name":"moisture chart","group":"4ffd3568.294af4","order":2,"width":21,"height":10,"label":"chart moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#f5c211","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":555,"y":960,"wires":[[]],"l":false},{"id":"66c58e2c.24f89","type":"ui_button","z":"66fa9c9a.861bc4","name":"on","group":"4ffd3568.294af4","order":5,"width":2,"height":1,"passthru":true,"label":"On","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":610,"y":1040,"wires":[["93bff2c1.0ea8e8","905a2056.134258"]]},{"id":"afcf8f33.afb898","type":"ui_button","z":"66fa9c9a.861bc4","name":"off","group":"4ffd3568.294af4","order":8,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":610,"y":1080,"wires":[["93bff2c1.0ea8e8","905a2056.134258"]]},{"id":"93bff2c1.0ea8e8","type":"mqtt out","z":"66fa9c9a.861bc4","name":"Light","topic":"sensor_data/light","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"257f1e61.6d014a","x":870,"y":1060,"wires":[]},{"id":"905a2056.134258","type":"ui_text","z":"66fa9c9a.861bc4","group":"4ffd3568.294af4","order":1,"width":4,"height":1,"name":"light","label":"UV Light","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":870,"y":1140,"wires":[]},{"id":"a796f3eb.8104a8","type":"ui_gauge","z":"66fa9c9a.861bc4","name":"water level","group":"4ffd3568.294af4","order":13,"width":4,"height":4,"gtype":"wave","title":"Water level","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":530,"y":1160,"wires":[]},{"id":"94c2e570.7ab1d8","type":"debug","z":"66fa9c9a.861bc4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":280,"y":1080,"wires":[]},{"id":"c44b0bd3.fa4a","type":"mqtt in","z":"66fa9c9a.861bc4","name":"Water level","topic":"sensor_data/water","qos":"2","datatype":"auto","broker":"3da72db3.608302","nl":false,"rap":false,"x":70,"y":1160,"wires":[["94c2e570.7ab1d8","a796f3eb.8104a8","f678fc4c.cb9ea8"]]},{"id":"37355ddb.657dea","type":"ui_toast","z":"66fa9c9a.861bc4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":560,"y":1260,"wires":[[]]},{"id":"f678fc4c.cb9ea8","type":"function","z":"66fa9c9a.861bc4","name":"","func":"if (msg < 20){\n    return msg\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1240,"wires":[["bfc390de.9e2e08"]]},{"id":"bfc390de.9e2e08","type":"trigger","z":"66fa9c9a.861bc4","name":"","op1":"add more water","op2":"","op1type":"str","op2type":"pay","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":380,"y":1320,"wires":[["37355ddb.657dea"]]}]